<%= simple_form_for([@bottle, @rating]) do |f| %>
  <div class="bottle-show-evaluations-form-content", data-bottles-target='rate' >
    <%= f.input :rate, as: :hidden, label: "Note" %>
    <div class="bottle-show-evaluations-form-stars">
      <div class="my-3">
        <% (1..5).each do |index| %>
          <i class="fa-regular fa-star bottle-show-evaluations-form-rate" data-bottles-target="star" data-action='click->bottles#updateRate mouseover->bottles#mouseOver mouseout->bottles#mouseOut' id= '<%= index %>'></i>
        <% end %>
      </div>
    </div>
    <%= f.input :comment, label: "Commentaire", class: "bottle-show-evaluations-form-input" %>
  </div>
  <%= f.association :user, input_html: { :value => current_user.id }, as: :hidden %>
  <%= f.association :bottle, input_html: { :value => @bottle.id }, as: :hidden %>
  <%= f.button :submit, value: "Valider mon avis", class: "bottle-show-evaluations-form-submit btn btn-primary" %>
<% end %>
