<% @bottles.each do |bottle| %>
    <%= link_to bottle_path(bottle), class: "index-card-bottle" do %>
      <div class="index-card-bottle-image">
        <%= cl_image_tag bottle.photo.key, height:300, crop: :fill %>
      </div>
      <div class="index-card-bottle-info">
        <p class="index-card-bottle-info-name"><%= bottle.name %></p>
        <p>
          <% bottle.average_rate.round(0).times do |n| %>
            <%= inline_svg_tag("starFull.svg", class: "index-card-bottle-info-rate") %>
          <% end %>
          <% (5-bottle.average_rate.round(0)).times do |n| %>
            <%= inline_svg_tag("starEmpty.svg", class: "index-card-bottle-info-rate") %>
          <% end %>
          (<%= bottle.average_rate %>)
        </p>
        <p class="index-card-bottle-info-property"><%= bottle.property %></p>
        <p class="index-card-bottle-info-year"><%= bottle.year %></p>
        <p class="index-card-bottle-info-price"><%= bottle.price %>€</p>
      </div>
    <% end %>
  <% end %>
